<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"><%= title %></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <%= form_for(milestone, url: url, method: method_name, local: false, remote: true) do |form| %>
        <% if milestone.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% milestone.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group" id="follow_up_date">
          <%= form.label :description %>
          <%= form.text_field :description, class: 'form-control' %>
        </div>

        <div class="form-group" id="follow_up_date">
          <%= form.label :target %>
          <%= form.text_field :target, class: 'form-control' %>
        </div>

        <div class="form-group" id="hold_reason">
          <%= form.label :unit_id, 'Unit' %>
          <%= form.select(:unit_id, Unit.where(archieve: nil).pluck(:name, :id), {}, { class: 'form-control'} )%>
        </div>

        <div class="form-group" id="follow_up_date">
          <%= form.label :deadline %>
          <%= form.date_field :deadline, min: Date.today, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= form.submit class: 'btn btn-primary submit-button' %>
        </div>

      <% end %>
    </div>
  </div>
</div>