$('#add_milestone').html("<%= j render partial: 'form',  :locals => { :url => project_milestone_path(@milestone.project, @milestone ), :method_name => :PUT, :milestone => @milestone, title: 'Edit milestone' } %>")

<% if @milestone.errors.blank? %>
  $('#add_milestone').modal('toggle');
<% end %>