$('#add_milestone').html("<%= j render partial: 'form', locals: { url: project_milestones_path(@milestone.project), :method_name => :post, :milestone => @milestone, title: 'New milestone'  } %>")

<% if @milestone.errors.blank? %>
  $('#add_milestone').modal('toggle');
<% end %>