<div class="dpr-list">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">DPR link</th>
        </tr>
      </thead>
      <tbody>
        <% @dprs.each_with_index do |dpr, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= @project.title %></td>
            <td><%= dpr %></td>
            <td><%= link_to "DPR for #{dpr}", by_date_project_dprs_path(@project.id, date: dpr) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>