<div class="dpr-list">
  <div class="row">
    <div class="col-12">
      <%= form_with(model: @project_dpr, url: project_dprs_path(@project_dpr), local: true, method: :post, id: 'myform') do |f| %>
        <% if @project_dpr.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @project_dpr.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row px-2">
          <span class="col-2">
            <b>Select DPR Date</b>
          </span>
          <div class="col-3">
            <%= date_field_tag :report_date, value = nil , options = {:max=> Date.today , id: 'dpr_date', 'data-url' => valid_dpr_date_project_dprs_path(@project_dpr), class: 'form-control' } %>
          </div>
        </div>
        <br>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Units</th>
              <th scope="col">Target Qty</th>
              <th scope="col">Today progress</th>
              <th scope="col">Todays' Activity</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :milestones do |milestone_form| %>
              <%= milestone_form.fields_for :dpr_milestones do |dpr_form| %>

                <% if dpr_form&.object.new_record? %>
                  <tr>
                    <td><%= milestone_form&.object&.description %></td>
                    <td><%= milestone_form&.object&.unit&.name %></td>
                    <td><%= milestone_form&.object&.target %></td>
                    <td><%= dpr_form.text_field :progress, value: 0, class: 'col-4' %></td>
                    <td><%= dpr_form.text_area :activity %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      
        <row>
          <div class="col-12 px-0">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Span</th>
                  <th scope="col">Excavation(%)</th>
                  <th scope="col">Sand, Soiling and PCC(%)</th>
                  <th scope="col">Top Slab and Parapet(%)</th>
                  <th scope="col">Face wall Bottom(%)</th>
                  <th scope="col">Nos. of labour</th>
                  <th scope="col">Today's activity</th>
                </tr>
              </thead>

              <tbody>
                <%= f.fields_for :bridges do |bridge_form| %>
                  <%= bridge_form.fields_for :dpr_bridges do |dpr_bform| %>

                    <% if dpr_bform&.object&.new_record? %>
                      <tr>
                        <td><%= bridge_form&.object&.title %></td>
                        <td><%= bridge_form&.object&.span %></td>
                        <td ><%= dpr_bform.text_field :excavation, value: 0, class: 'col-8' %></td>
                        <td><%= dpr_bform.text_field :sand_soiling_and_pcc, value: 0, class: 'col-12' %></td>
                        <td><%= dpr_bform.text_field :top_slab_and_parapet, value: 0, class: 'col-10' %></td>
                        <td><%= dpr_bform.text_field :face_wall_bottom, value: 0, class: 'col-10' %></td>
                        <td><%= dpr_bform.text_field :labour_count, value: 0, class: 'col-12' %></td>
                        <td><%= dpr_bform.text_area :activity %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </row>

        <div class="row">
          <div class="col-4">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Machine</th>
                  <th scope="col">Machinary Used</th>
                </tr>
              </thead>
              <tbody>
                <%= f.fields_for :dpr_machinary_uses do |machinary_use| %>
                  <% if machinary_use&.object&.new_record? %>
                    <%= machinary_use.hidden_field :machinary_id, value: machinary_use&.object&.machinary.id %>
                    <tr>
                      <td><%= machinary_use&.object&.machinary&.name %></td>
                      <td><%= machinary_use.text_field :count, value: 0  %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-4">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Work</th>
                  <th scope="col">Labour Used</th>
                </tr>
              </thead>

              <tbody>
                <%= f.fields_for :dpr_labour_uses do |labour_use| %>
                  <% if labour_use&.object&.new_record? %>
                    <tr>
                      <td>Drain</td>
                      <td><%= labour_use.text_field :drain, value: 0  %></td>
                    </tr>

                    <tr>
                      <td>Central Wall</td>
                      <td><%= labour_use.text_field :central_wall, value: 0  %></td>
                    </tr>

                    <tr>
                      <td>Earth work in filling</td>
                      <td><%= labour_use.text_field :earth_work_in_filling, value: 0  %></td>
                    </tr>

                    <tr>
                      <td>Blanketing</td>
                      <td><%= labour_use.text_field :blanketing, value: 0  %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="col-4">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Other Activity</th>
                </tr>
              </thead>

              <tbody>
                <%= f.fields_for :dpr_activities do |labour_use| %>
                  <% if labour_use&.object&.new_record? %>
                    <tr>
                      <td><%= labour_use.text_area :description, class: 'col-12'%></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>        
        </div>
        <div class="form-actions text-center">
          <%= f.submit 'Submit DPR', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('change', '#dpr_date', function function_name(){
      $.ajax({
        type:"GET",
        url : $(this).data('url')+"?date="+this.value
      });
    });

  $('#myform').submit(function(event) {
    event.preventDefault(); //this will prevent the default submit

    if($('#dpr_date').val() == '')
    {
      alert('please select a DPR date.');
      return false
    }  
      
    $(this).unbind('submit').submit();
  })
</script>