<br>
<div class="row">
  <div class="col-9">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Agency</th>
          <th scope="col">Agreement Number</th>
          <th scope="col">Deadline</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @project&.title %></td>
          <td><%= @project&.agency %></td>
          <td><%= @project&.contarct_agreement_number %></td>
          <td><%= @project&.deadline %></td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="count">Milestones(#)</th>
          <th scope="col">Description</th>
          <th scope="col">Unit</th>
          <th scope="col">Target</th>
          <th scope="col">Upto Achieved (%)</th>
          <th scope="col">Today Progress</th>
          <th scope="col">Cummulative Qty</th>
          <th scope="col">Balance</th>
          <th scope="col">Total Uptodate</th>
          <th scope="col">Activity</th>
        </tr>
      </thead>
      <tbody>
        <% @dpr_report[:milestones].each_with_index do |milstone, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= milstone[:description] %></td>            
            <td><%= milstone[:unit] %></td>
            <td><%= milstone[:target] %></td>
            <td><%= milstone[:upto_percentage] %>%</td>
            <td class="
            custm_yellow_color"><%= milstone[:progress] %></td>
            <td><%= milstone[:cummulative] %></td>
            <td><%= milstone[:balance] %></td>
            <td><%= milstone[:upto_date] %></td>
            <td class="
            custm_yellow_color"><%= milstone[:activity] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Minor Bridges(#)</th>
          <th scope="col">Title</th>
          <th scope="col">Span</th>
          <th scope="col">Excavation(%)</th>
          <th scope="col">Sand filling, Soiling and PCC(%)</th>
          <th scope="col">Top Slab and Parapet(%)</th>
          <th scope="col">Face wall Bottom slab(%)</th>
          <th scope="col">Activity</th>
        </tr>
      </thead>
      <tbody>
        <% @dpr_report[:bridges].each_with_index do |bridge, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= bridge[:title] %></td>
            <td><%= bridge[:span] %></td>
            <td class="custm_yellow_color"><%= bridge[:excavation] %></td>
            <td class="custm_yellow_color"><%= bridge[:sand_soiling_and_pcc] %></td>
            <td class="custm_yellow_color"><%= bridge[:top_slab_and_parapet] %></td>
            <td class="custm_yellow_color"><%= bridge[:face_wall_bottom] %></td>
            <td class="custm_yellow_color"><%= bridge[:activity] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row mx-0">
      <table class="table col-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Machine</th>
            <th scope="col">Machinary Used</th>
          </tr>
        </thead>
        <tbody>
          <% @dpr_report[:dpr_machinary_use].each_with_index do |bridge, index| %>
            <tr>
              <td><%= bridge[:machine_name] %></td>
              <td class="custm_yellow_color"><%= bridge[:count] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <table class="table col-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Work</th>
            <th scope="col">Labour Used</th>
          </tr>
        </thead>
        <tbody>
          <% dpr_labour_use = @dpr_report[:dpr_labour_use] %>
          <tr>
            <td>Drain</td>
            <td class="custm_yellow_color"><%= dpr_labour_use[:drain] %></td>
          </tr>
          <tr>
            <td>Central wall</td>
            <td class="custm_yellow_color"><%= dpr_labour_use[:central_wall] %></td>
          </tr>
          <tr>
            <td>Earth work in Filling</td>
            <td class="custm_yellow_color"><%= dpr_labour_use[:earth_work_in_filling] %></td>
          </tr>
          <tr>
            <td>Blanketing</td>
            <td class="custm_yellow_color"><%= dpr_labour_use[:blanketing] %></td>
          </tr>
        </tbody>
      </table>

      <table class="table col-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Other Activity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @dpr_report[:other_activity] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <div class="col-3">
    <table class="table">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team</th>
        </tr>
      </thead>
      <tbody>
        <% @project.users.each_with_index do |user, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= user&.full_name+" (#{user&.role.first})"  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
