<div class="dpr-list">
  <div class="col-6">
    <div class="col">
      <%#= link_to 'New Employee', new_admins_user_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
  <br>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card">
          <%= image_tag 'profile.png', class: 'card-img-top' %>
          <div class="card-block">
            <h4 class="card-title mt-3"><%= user.full_name %></h4>
            <div class="card-text">
                <%= user.email %>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to 'Show', user_path(user), class: 'btn btn-secondary btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
