
<div class="row">
  <div class="col-md-9">
    <h2><strong><%= @user.full_name %></strong></h2>
  </div>
</div>

<div class="row" style="margin-top:20px;">
  <div class="col-md-6">
  </div>

  <div class="col-md-6">
    <h5>
      Roles: <%= @user.roles.map(&:name)&.join(',') %>
    </h5>
    <h5>
      Email: <%= @user.email %>
    </h5>
    <h5>
      Contact: <%= @user.mobile_no %>
    </h5>
    <h5>
      DOB: <%= format_date @user.dob %>
    </h5>
    <h5>
      DOJ: <%= format_date @user.date_of_joining %>
    </h5>
    <p></p>
  </div>
</div>
<div class="row"><hr></div>
<div class="row">
  <div class="col-md-6">
    <h2>Leads</h2>
    <table class="table">
      <thead>
        <td>
          Name
        </td>
        <td>
          Email
        </td>
      </thead>
      <tbody>
        <% @user.leads.each do |lead|  %>
          <tr>
            <td>
              <%= lead.full_name %>
            </td>
            <td>
              <%= lead.email %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h2>Profiles</h2>
    <table class="table">
      <thead>
        <td>
          Name
        </td>
        <td>
          Email
        </td>
      </thead>
      <tbody>
        <% @user.profiles.each do |profile|  %>
          <tr>
            <td>
              <%= profile.full_name %>
            </td>
            <td>
              <%= profile.email %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h2>Interviews</h2>
    <table class="table">
      <thead>
        <td>
          Scheduled At
        </td>
        <td>
          Contact Info
        </td>
        <td>
          Lead
        </td>
        <td>
          Profile
        </td>
        <td>
          Interviewee
        </td>
      </thead>
      <tbody>
        <% @user.interviews.upcoming.each do |interview|  %>
          <tr>
            <td>
              <%= format_date interview.datetime %>
            </td>
            <td>
              <%= interview.contact_info %>
            </td>
            <td>
              <%= interview.lead&.full_name %>
            </td>
            <td>
              <%= interview.profile&.full_name %>
            </td>
            <td>
              <%= interview.interviewee_full_name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
