<div class="row justify-content-center mt-5">
  <div class="col-4">
    <h2 class="text-center mb-4">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, class: 'text-center d-block' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="actions text-center">
        <%= f.submit "Send me reset password instructions", class: 'btn btn-primary mt-4 mb-3' %><br/>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
