<% if current_user %>
  <div class="row">
    <div class="col-md-4">
      <div class="overflow-auto" style="height: 400px; overflow-y: scroll; width: 100%">
        <div id="notification-area-<%= current_user.id %>">

        </div>
      </div>
    </div>
  </div>
<% end %>

