<div class="dpr-list">
  <div class="row">
    <div class="col-6">
      <br/>
      <div class="col">
        <%= link_to 'New Employee', new_admins_user_path, class: 'btn btn-outline-primary' %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-3 mb-3">
        <div class="card pt-0">
          <div class="card-body pt-0">
            <div class="top-labels">
              <a href="javascript:void(0)" class="badge"><%= user&.role&.join(',')&.upcase %></a>
            </div>

            <h4 class="card-title mt-3"><%= user.full_name %></h4>

            <span>
              <b>Email: </b><%= user.email %>                
            </span>

            <span>
              <b>Role: </b> <%= user.role.first %>
            </span>
            
          </div>
          <div class="card-footer">
            <%= link_to 'Show', admins_user_path(user), class: 'btn btn-secondary btn-sm' %>
            <!-- <small>Last updated 3 mins ago</small> -->
            <%= link_to 'Edit', edit_admins_user_path(user), class: 'btn btn-secondary float-right btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

