<div class="container">
  <div class="teacher-name" style="padding-top:20px;">

    <div class="row" style="margin-top:0px;">
    <div class="col-md-9">
      <h2 style="font-size:38px"><strong><%= @user.full_name %></strong></h2>
    </div>
    <div class="col-md-3">
      <div class="button" style="float:right;">
        <%= link_to 'Delete', admins_user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary btn-sm' %>
      </div>
      <div class="button" style="float:right;">
        <%= link_to 'Edit', edit_admins_user_path(@user), class: 'btn btn-outline-primary btn-sm' %>
      </div>
    </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px;">
    <div class="col-md-6">
    </div>

    <div class="col-md-6">
      <h5>
        Roles: <%= @user.roles.map(&:name)&.join(',') %>
      </h5>
      <h5>
        Email: <%= @user.email %>
      </h5>
      <h5>
        Contact: <%= @user.mobile_no %>
      </h5>
      <h5>
        DOB: <%= @user.dob %>
      </h5>
    </div>
  </div>
</div>

