<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-center w-100 d-block" id="exampleModalLabel">Assign Project</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-8">
          <%= form_tag(assign_project_path(@project)) do %>

            <% User.all.each do |user| %>
              <div class="form-group">
                <div class="custom-control custom-checkbox">

                  <% if user.has_admin_permission? %>
                    <%= check_box_tag 'assignments_label[users][]', user.id, (checked = true if @project.users.include?(user)), { class: 'custom-control-input', id: "assignments_label_users_#{user.id}", disabled: true } %>

                    <%= label_tag "assignments_label[users][#{user.id}]", "#{user.full_name} [#{user.role.first}]", class: 'custom-control-label' %>

                    
                      <%= hidden_field_tag 'assignments[users][]', user.id -%>
                  <% else %>
                    <%= check_box_tag 'assignments[users][]', user.id, (checked = true if @project.users.include?(user)), { class: 'custom-control-input', id: "assignments_users_#{user.id}" } %>

                    <%= label_tag "assignments[users][#{user.id}]", "#{user.full_name} [#{user.role.first}]", class: 'custom-control-label' %>
                  <% end %>
                </div> 
              </div>
            <% end %>
            <div class="actions text-center">
              <%= submit_tag "Assign", class: 'btn btn-primary px-3' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
