 <%= form_with(model: project, url: url, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, 'Title(*)' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :agency, 'Agency(*)' %>
    <%= form.text_field :agency, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :contarct_agreement_number %>
    <%= form.text_field :contarct_agreement_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :begin_date, 'Start date(*)' %>
    <%= form.date_field :begin_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :deadline %>
    <%= form.date_field :deadline, class: 'form-control' %>
  </div>
  <div class="actions text-center">
    <%= form.submit class: 'btn btn-primary' %>
  </div>

<% end %>
