<div class="dpr-list">
  <div class="row">
    <div class="col-6">
      <br/>
      <% if current_user.has_admin_permission? %>
        <div class="col">
          <%= link_to 'New Project', new_project_path, class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Agency</th>
          <th scope="col">BeginDate</th>
          <th scope="col">Deadline</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each_with_index do |project, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= project&.title %></td>
            <td><%= project&.agency %></td>
            <td><%= project&.begin_date %></td>
            <td><%= project&.deadline %></td>
            <td>
              <%= link_to 'Submit DPR', new_project_dpr_path(project), class: 'btn btn-secondary' %>
              <%= link_to 'Progress Report', project_path(project), class: 'btn btn-secondary' %>
              <%= link_to 'All DPRs', project_dprs_path(project), class: 'btn btn-secondary' %>
              <% if current_user.has_admin_permission? %>
                <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-secondary' %>
                <%= link_to 'Assign Team', new_assign_project_path(project), class: 'btn btn-secondary', remote: true %>              
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="assign-project-modal" tabindex="-1" role="dialog" aria-labelledby="bridge-modal" aria-hidden="true">

</div>