<br>
<div class="row">
  <div class="col-9">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Agency</th>
          <th scope="col">Agreement Number</th>
          <th scope="col">Deadline</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @project&.title %></td>
          <td><%= @project&.agency %></td>
          <td><%= @project&.contarct_agreement_number %></td>
          <td><%= @project&.deadline %></td>
          <td>
            <% if current_user.has_admin_permission? %>
              <%= link_to 'Add Milstone', new_project_milestone_path(@project), remote: true, class: 'btn btn-secondary' %> 
              <%= link_to 'Add Bridge', new_project_bridge_path(@project), remote: true, class: 'btn btn-secondary' %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Milestones(#)</th>
          <th scope="col">Description</th>
          <th scope="col">Unit</th>
          <th scope="col">Target</th>
          <th scope="col">Upto Achieved (%)</th>
          <th scope="col">Cummulative Qty</th>
          <th scope="col">Balance</th>
          <th scope="col">Total Uptodate</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @project.milestones.each_with_index do |milstone, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= milstone&.description %></td>
            <td><%= milstone&.unit&.name %></td>
            <td><%= milstone&.target %></td>
            <td><%= milstone&.achieved_till_date %></td>
            <td><%= milstone&.cummulative_till_date %></td>
            <td><%= milstone&.balance_till_date %></td>
            <td><%= milstone&.total_till_date %></td>
            <td>
              <% if current_user.has_admin_permission? %>
                <%= link_to 'Edit', edit_project_milestone_path(@project, milstone), remote: true, class: 'btn btn-secondary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Minor Bridges(#)</th>
          <th scope="col">Title</th>
          <th scope="col">Span</th>
          <th scope="col">Excavation(%)</th>
          <th scope="col">Sand filling, Soiling and PCC(%)</th>
          <th scope="col">Top Slab and Parapet(%)</th>
          <th scope="col">Face wall Bottom slab(%)</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @project.bridges.each_with_index do |bridge, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= bridge&.title %></td>
            <td><%= bridge&.span %></td>
            <td><%= bridge&.excavation_till_date %></td>
            <td><%= bridge&.sand_soiling_and_pcc_till_date %></td>
            <td><%= bridge&.top_slab_and_parapet_till_date %></td>
            <td><%= bridge&.face_wall_bottom_till_date %></td>
            <td>
              <% if current_user.has_admin_permission? %>
                <%= link_to 'Edit', edit_project_bridge_path(@project, bridge), remote: true, class: 'btn btn-secondary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-3">
    <table class="table">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team</th>
        </tr>
      </thead>
      <tbody>
        <% @project.users.each_with_index do |user, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= user&.full_name+" (#{user&.role.first})"  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="add_milestone" tabindex="-1" role="dialog" aria-labelledby="add_milestone" aria-hidden="true">

</div>

<!-- Modal -->
<div class="modal fade" id="bridge-modal" tabindex="-1" role="dialog" aria-labelledby="bridge-modal" aria-hidden="true">

</div>