<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"><%= title %></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <%= form_for(bridge, url: url, method: method_name, local: false, remote: true) do |form| %>
        <% if bridge.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% bridge.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group" id="follow_up_date">
          <%= form.label :title %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group" id="follow_up_date">
          <%= form.label :span %>
          <%= form.text_field :span, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= form.submit class: 'btn btn-primary submit-button' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
