$('#bridge-modal').html("<%= j render partial: 'form',  :locals => { :url => project_bridge_path(@bridge.project, @bridge ), :method_name => :PUT, :bridge => @bridge, title: 'Edit bridge' } %>")

<% if @bridge.errors.blank? %>
  $('#bridge-modal').modal('toggle');
<% end %>