$('#bridge-modal').html("<%= j render partial: 'form', locals: { url: project_bridges_path(@bridge.project), :method_name => :post, :bridge => @bridge, title: 'New bridge'  } %>")

<% if @bridge.errors.blank? %>
  $('#bridge-modal').modal('toggle');
<% end %>