<div class="row justify-content-center mt-5">
  <div class="col-5">
    <h2 class="text-center">Log In</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div class="row align-items-center mb-4">
        <div class="col-6">
          <% if devise_mapping.rememberable? %>
            <div class="form-group m-0">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
        <div class="col-6 text-right"><%= render "devise/shared/links" %></div>
      </div>

      

      <div class="actions text-center">
        <%= f.submit "Log in", class: 'btn btn-primary px-5 ' %>
      </div>
    <% end %>
  </div>
</div>
    
