<%= form_with(model: unit, url: url, local: true, method: method) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>

<% end %>
