<div class="dpr-list">
  <div class="row">
    <div class="col-6">
      <br/>
      <div class="col">
        <%= link_to 'New Unit', new_admins_unit_path, class: 'btn btn-outline-primary' %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @units.each_with_index do |unit, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= unit&.name&.upcase %></td>
            <td>
              <%= link_to 'Edit', edit_admins_unit_path(unit),class: 'btn btn-secondary' %> 
              <%= link_to 'Delete', admins_unit_path(unit), method: :DELETE, remote: true, class: 'btn btn-secondary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

