.top-labels {
    margin-bottom: 10px;
}

.top-labels .badge {
    vertical-align: top;
    z-index: 2;
    padding: 7px 15px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    position: relative;
    color: #fff;
    width: 55%;
}

.top-labels .badge:first-child {
    width: 43%;
}

.top-labels .badge:before {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 135%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    content: "";
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: perspective(22px) rotateX(11deg);
    -webkit-transform-origin: bottom;
    -moz-transform: perspective(22px) rotateX(11deg);
    -moz-transform-origin: bottom;
    transform: perspective(22px) rotateX(11deg);
    transform-origin: bottom;
    background: #007bff;
}

#navbarSupportedContent {
    width: 63%;
    flex-grow: initial;
    justify-content: space-between;
}

.dpr-list > br + .row{
border-bottom: #ccc solid 1px;
  padding-bottom: 15px;
  margin: 0 4px 15px;
}
.dpr-list > br + .row > span{
   padding: 0;
   line-height: 34px;
}
.dpr-list table{
   table-layout: fixed;
   text-align: center;
}
.dpr-list table thead tr th:first-child,
.dpr-list table tbody tr td:first-child{
  text-align: left;
}
.dpr-list table thead.thead-dark th{
  background-color: #0069BC;
  border-color: #0069BC;
  vertical-align: top;
  font-size: 11px;
}
.dpr-list table input,
.dpr-list table textarea {
  width: 100%;
  resize: none;
}
.dpr-list #myform .form-actions{
  border-top: #ccc solid 1px;
  padding-top: 20px;
  margin-top: 10px;
}
.dpr-list table td{
  border-bottom: 1px solid #dee2e6;
  border-left: #dee2e6 solid 1px;
  border-top: none;
  vertical-align: middle;
}
.dpr-list table tbody tr td:last-child{
  border-right: #dee2e6 solid 1px;
}

.dpr-list > .row + br + .row{
   border-bottom: none;
}
.dpr-list #myform table{
  table-layout: fixed;
}
.dpr-list table{
  table-layout: auto;
}
.dpr-list td a.btn-secondary {
  background: none;
  border-color: #0069BC;
  color: #0069BC;
  line-height: 24px;
}
.dpr-list table textarea {
  height: 50px;
}
table.table thead.thead-dark tr th {
  background: #0069BC;
  border-color: #0069BC;
  font-size: 10px;
}
table tbody tr td{
  border-bottom: 1px solid #dee2e6;
  border-left: #dee2e6 solid 1px;
  border-top: none;
  vertical-align: middle;
}
table tbody tr td:last-child{
  border-right: #dee2e6 solid 1px;
}
table tbody tr td a.btn-secondary {
  background: none;
  border-color: #0069BC;
  color: #0069BC;
  line-height: 24px;
  font-size: 14px;
}
table tbody tr td a.btn-secondary:hover {
  background: #0069BC;
  border-color: #0069BC;
  color: #fff;
}
.dpr-list .card .card-body{
  padding: 0;
}
.dpr-list .card .card-body h4,
.dpr-list .card .card-body span{
  padding: 0 15px;
  display: block;
}
.dpr-list .card .card-body .top-labels a.badge{
  width: 100%;
  border-radius: 0;
}
.dpr-list .card .card-body .top-labels a.badge:before{
  border-radius: 0;
  top: 0;
  height: 100%;
  transform: perspective(0px) rotateX(0deg);
  -moz-transform: perspective(0px) rotateX(0deg);
  -webkit-transform: perspective(0px) rotateX(0deg);
}
.edit-employee, .edit-project {
  max-width: 700px;
  width: 100%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px
  rgba(0,0,0,0.3);
}
.edit-employee h1{
  text-align: center;
  padding-bottom: 10px;
}
nav.navbar > span{
  border-radius: 0 !important;
  border: none !important;
}
nav.navbar > span a.navbar{
  width: 75px;
  height: 75px;
  display: inline-block;
  background: url(https://upload.wikimedia.org/wikipedia/mr/7/7b/Indian_Railways_logo.png) no-repeat 0 0;
  background-size: 100% auto;
  font-size: 0;
}

.dpr-list .card .card-footer a.btn-secondary {
  background: none;
  border-color: #0069BC;
  color: #0069BC;
  line-height: 24px;
  font-size: 14px;
}
.dpr-list .card .card-footer a.btn-secondary:hover {
  background: #0069BC;
  border-color: #0069BC;
color: #fff;
}
.edit-employee, .edit-project {
  max-width: 700px;
  width: 100%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: none;
  border: #0069bc solid 1px;
}

.custm_yellow_color{
  background-color: yellow;
}

table thead tr th:last-child{
  border-right: #0069BC solid 1px;
}

#assign-project-modal .modal-dialog {
  max-width: 350px;
}