<div class="">
  <div class="row">
    <div class="col-6">
      <br/>
      <div class="col">
        <%= link_to 'New Machinary', new_admins_machinary_path, class: 'btn btn-outline-primary' %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @machinaries.each_with_index do |machinary, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= machinary&.name&.upcase %></td>
            <td>
              <%= link_to 'Edit', edit_admins_machinary_path(machinary), class: 'btn btn-secondary' %>
              <%= link_to 'Delete', admins_machinary_path(machinary), method: :DELETE, remote: true, class: 'btn btn-secondary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

