<div class="container">
  <div class="teacher-name" style="padding-top:20px;">

    <div class="row" style="margin-top:0px;">
    <div class="col-md-9">
      <h2 style="font-size:38px"><strong><%= @machinary&.name %></strong></h2>
    </div>
    <div class="col-md-3">
      <div class="button" style="float:right;">
        <%= link_to 'Delete', admins_machinary_path(@machinary), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary btn-sm' %>
      </div>
      <div class="button" style="float:right;">
        <%= link_to 'Edit', edit_admins_machinary_path(@machinary), class: 'btn btn-outline-primary btn-sm' %>
      </div>
    </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px;">
    <div class="col-md-6">
    </div>

    <div class="col-md-6">

      <h5>
        Name: <%= @machinary&.name %>
      </h5>
    </div>
  </div>
</div>

