<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <span class="border border-primary rounded-circle"><b><%= link_to('Lead-M', admins_path, class: 'navbar') %></b></span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if admin_signed_in? %>
        <li>
          <%= link_to('Leads', admins_leads_path, class: 'nav-link') %>
        </li>
        <li>
          <%= link_to('Profiles', admins_profiles_path, class: 'nav-link') %>
        </li>

        <li>
          <%= link_to('Employees', admins_users_path, class: 'nav-link') %>
        </li>
        <li>
          <%= link_to('Interviews', 'javascript:alert("inprogess")', class: 'nav-link') %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if admin_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_admin.full_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to(current_admin.email, '#', class: 'dropdown-item') %>
            <%= link_to('Logout', destroy_admin_session_path, method: :delete, class: 'dropdown-item') %>

          </div>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_admin_session_path, class: 'nav-link')  %>
        </li>
      <% end %>
    </ul>

<!--     <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
           <i class="fa fa-bell"></i>(<b class="notifications-count"><%#= Notification.count %></b>)
        </a>
        <ul class="dropdown-menu notify-drop">
          <div class="notify-drop-title">
            <div class="row"></div>
          </div>
        </ul>
      </li>
    </ul> -->
  </div>
</nav>
