<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">    
  <span class="border border-primary rounded-circle"><b><%= link_to('Railway-PM', root_path, class: 'navbar') %></b></span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li>
          <%= link_to('MyProjects', projects_path, class: 'nav-link') %>
        </li>
        <% if current_user.has_admin_permission? %>
          <li>
            <%= link_to('Employees', admins_users_path, class: 'nav-link') %>
          </li>
          <li>
            <%= link_to('Units', admins_units_path, class: 'nav-link') %>
          </li>
          <li>
            <%= link_to('Machinaries', admins_machinaries_path, class: 'nav-link') %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.full_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item') %>
          </div>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path, class: 'nav-link')  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
