<!DOCTYPE html>
<html>
  <head>
    <title>Lead Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">

      <div id="flash">
        <% if notice %>
          <%= render partial: "shared/notice_banner" %>
        <% end %>
      </div>

      <div id="alert">
        <% if alert %>
          <%= render partial: "shared/alert_banner" %>
        <% end %>
      </div>

      <div class="">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
